.input {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px;
    background-color: antiquewhite;
}




.input:focus {
    outline: none;

}